.email {
  padding-top: 10px;
  vertical-align: middle;
}

.password {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.login-page label {
  display: inline-block;
  width: 30%;
  font-size: 10px;
  font-weight: 800;
}

.login-page input {
  width: 60%;
  font-size: 18px;
}
